.container {
  color: #fff;
}

.container form {
  display: grid;
  position: relative;
  width: 1000px;
  min-height: 500px;
  margin: 100px auto;
  background: rgba(0,0,0,.5);
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}
