.card {
  position: relative;
  width: 1000px;
  min-height: 500px;
  margin: 100px auto;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

.thumbnail {
  float: left;
  position: relative;
  left: 30px;
  top: -30px;
  height: 320px;
  width: 530px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.img_left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.div_right {
  margin-left: 590px;
  margin-right: 20px;
}

.title {
  padding-top: 15px;
  font-size: 1.3rem;
}

.separator {
  margin-top: 10px;
  border: 1px solid #c3c3c3;
}

.date {
  position: absolute;
  bottom: 150px;
  left: 30px;
  font-size: 2rem;
  color: #c3c3c3;
}

.uls {
  position: absolute;
  left: 30px;
  bottom: 50px;
}

.genre {
  display: inline;
  list-style: none;
  background-color: #9ecaff;
  margin: 0px;
  border-radius: 5px;
  padding: 0px;
  padding-right: 2px;
  font-size: 0.7rem;
  color: #7b7b7b;
}

.platform {
  display: inline;
  list-style: none;
  background-color: #1cc75d;
  margin: 0px;
  border-radius: 5px;
  padding: 0px;
  padding-right: 2px;
  font-size: 0.7rem;
  color: #7b7b7b;
}

.card strong {
  color: rgb(174, 35, 179);
  font-size: 1.2em;
}
