@font-face {
  font-family: gamer;
  src: url("../fonts/gamer.ttf");
  font-style: normal;
  font-weight: 400;
}

:root {
  --font-app: gamer;
  --dark: #111c3a;
  --lingth: #6f3254;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #4b4b4b;
  box-sizing: border-box;
  font-family: var(--font-app);
  font-size: 1.5em;
}

button {
  font-family: var(--font-app);
}

a {
  text-decoration: none;
}

.title {
  color: blue;
}

#backgroundApp {
  background: linear-gradient(50deg, var(--dark), var(--lingth));
}

p {
  text-align: justify;
  padding-top: 10px;
  font-size: 0.35rem;
  line-height: 150%;
  color: #4b4b4b;
}

ul {
  padding: 0px;
  margin: 0px;
}

