@font-face {
  font-family: gamer;
  src: url("../fonts/gamer.ttf");
  font-style: normal;
  font-weight: 400;
}

:root {
  --font-app: gamer;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-app);
  font-size: 1.5em;
}

button {
  font-family: var(--font-app);
}

a {
  text-decoration: none;
}
